<div class="menu-icon">
	<span class="menu-icon__line menu-icon__line-left"></span>
	<span class="menu-icon__line"></span>
	<span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
	<div class="nav__content">
		<ul class="nav__list">
			<li class="nav__list-item"><a class="menu_link" href="{{ stie.baseurl }}/">Inicio</a></li>
			<li class="nav__list-item"><a class="menu_link" href="{{ stie.baseurl }}/">Servicios</a></li>
			<li class="nav__list-item"><a class="menu_link" href="{{ stie.baseurl }}/">Pymes</a></li>
			<li class="nav__list-item"><a class="menu_link" href="{{ stie.baseurl }}/">Contacto</a></li>
		</ul>
	</div>
</div>